body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.logo span {
  color: #22c55e;
  text-shadow: 0 0 10px #22c55e;
}

.subtitle {
  opacity: 0.7;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 12px;
  background: #1e293b;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
}

li:hover {
  background: #22c55e;
  color: black;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #22c55e;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
}

#empty {
  opacity: 0.6;
}